@model BPR2_WebApp.Models.NewsletterModel

@{
    ViewData["Title"] = "Newsletter details";
}

<h1>@Html.DisplayFor(model => model.Title)</h1>
<br />
<div>
    <h5>@Html.DisplayFor(model => model.ValidFrom)  -  @Html.DisplayFor(model => model.ValidTo)</h5>
    <br />
    <br />

    <h4>Details</h4>
    <p>@Html.DisplayFor(model => model.Details)</p>

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
</div>
