@model BPR2_WebApp.Models.SoldProductsModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Sold products</h1>

<br />

<form asp-action="Load">
    <div class="form-group row">
        <div class="col-sm-11">
            <div class="form-group row">
                <label class="control-label col-sm-1 align-self-center">Date: </label>
                <input asp-for="Date" id="date" class="form-control col-sm-4" type="date" />
            </div>
        </div>
        <input type="submit" value="Load" class="btn btn-primary" />
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Product Name
            </th>
            <th>
                Barcode
            </th>
            <th>
                Date
            </th>
            <th>
                Quantity
            </th>
            <th>
                Store Name
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Products) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductBarcode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StoreName)
            </td>
        </tr>
}
    </tbody>
</table>
